asgiref==3.9.0
attrs==25.3.0
az-iranian-bank-gateways==2.1.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.4
idna==3.10
isodate==0.7.2
lxml==6.0.0
pillow==11.3.0
platformdirs==4.3.8
pycryptodome==3.23.0
pytz==2025.2
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
zeep==4.3.1
